// Place all the styles related to the test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.test1{
	background-image:url("/assets/test1.png");
	width:1440px;
	height:2000px;
}
.test2{
	background-image:url("/assets/test2.png");
	width:1440px;
	height:2900px;
}
.test3{
	background-image:url("/assets/test3.png");
	width:1440px;
	height:2000px;
}
.test4{
	background-image:url("/assets/test4.png");
	width:1440px;
	height:2000px;
}
.test5{
	background-image:url("/assets/test5.png");
	width:1440px;
	height:2000px;
}
.test6{
	background-image:url("/assets/test6.png");
	width:1440px;
	height:2000px;
}
.test7{
	background-image:url("/assets/test7.png");
	width:1440px;
	height:3600px;
}
.test8{
	background-image:url("/assets/test8.png");
	width:1440px;
	height:3600px;
}
.test9{
	background-image:url("/assets/test9.png");
	width:1440px;
	height:3600px;
}
.test10{
	background-image:url("/assets/test10.png");
	width:1440px;
	height:3600px;
}